#timer-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    color: black;
    width: 500px;
    margin: 0 auto;
  }
  
  #timer {
    margin-bottom: 20px;
  }
  
  #buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #buttons button {
    margin: 0 10px;
    font-size: 24px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #buttons button:hover {
    background-color: white;
    color: black;
  }
  
  #time-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #time-input {
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    width: 150px;
    text-align: center;
  }
  
  #change-time-button {
    font-size: 24px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #change-time-button:hover {
    background-color: white;
    color: black;
  }
  